/*
Imports Font
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*
Clearing all rules and styles
*/

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

* {
	margin: 0;
	padding: 0;
	border: none;
}

a {
  text-decoration: none;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

table {
	border-collapse: collapse;
}


/*
Mutual Styles
*/

.container {
	width: 1080px;
	margin: 0 auto;
	padding: 0 15px;
}


/*
Style for <aside> - шапка
*/

.aside {
	background: rgb(195, 224, 249);
	padding: 10px 10px;
}

.aside__task {
	overflow: hidden;
}

.aside__task img {
	float: left;
	width: 100px;
	height: 100px;
	background: #fff;
}

.aside__task table {
	float: left;
	margin-left: 10px;

	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 600;
	color: #000;
}

.aside__task td {
	vertical-align: sub;
	text-align: justify;
	padding-left: 10px;
}


/*
Style for  <main>
*/

.articles {
	margin-top: 50px;
	margin-bottom: 50px;
}

.articles__wrap {
	display: flex;
}

.articles__column-left {
	flex-basis: 50%;
	height: 440px;

	margin-right: 1px;
}

.articles__column-left .article__card-1 {
	width: 100%;
	height: 100%;
}

.articles__column-right {
	flex-basis: 50%;

	margin-left: 1px;

	display: flex;
	flex-wrap: wrap;
}

.articles__column-right .article__card-2 {
	flex-basis: 100%;
	height: 244px;

	margin-bottom: 2px;
}

.articles__column-right .article__card-3,
.articles__column-right .article__card-4 {
	flex-basis: 50%;
	height: 194px;
}

.article__card-3 .article__card-content {
	margin-right: 1px;
}

.article__card-4 .article__card-content {
	margin-left: 1px;
}

.article__card-content {
	position: relative;
	width: auto;
	height: 100%;
}

.article__card-content img {
	display: block;
	width: 100%;
	height: 100%;

	position: absolute;
}

.article__card-content > a::before {
	content: "";

  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1));

  position: absolute;
  z-index: 1;

  opacity: 0.5;

  transition: all 0.3s ease;
}

.article__card-content:hover > a::before {
  opacity: 0.3;
}

.card-content__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;

  width: 100%;
  height: 100%;
}

.card-content__info {
	padding: 20px 25px;
}

.article__card-2 .card-content__info {
	padding: 24px 25px;
}


.card-content__info_category {
	z-index: 2;

  padding: 2px 5px;
  border: 1px solid #fff;

  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  color: #fff;

  transition: all 0.3s ease;
}

.card-content__info_category:hover {
  background: #17b978;
  border: 1px solid #17b978;
  color: #fff;
}

.card-content__info_headline {
  z-index: 2;
}

.article__card-1 .card-content__info_headline {
	margin-top: 14px;
  margin-bottom: 10px;
}

.article__card-2 .card-content__info_headline,
.article__card-3 .card-content__info_headline,
.article__card-4 .card-content__info_headline {
	margin-top: 14px;
}

.card-content__info_headline a {
	font-family: Roboto;
  font-weight: 500;
  color: #fff;

	transition: all 0.3s ease;
}

.article__card-1 .card-content__info_headline a {
  font-size: 30px;
  line-height: 1.2;
}

.article__card-2 .card-content__info_headline a {
  font-size: 22px;
  line-height: 1.28;
}

.article__card-3 .card-content__info_headline a,
.article__card-4 .card-content__info_headline a {
  font-size: 16px;
  line-height: 1.5;
}



.card-content__info_headline a:hover {
  color: #17b978
}

.card-content__info_metadata {
  z-index: 2;
  color: #fff;
}

.card-content__info_metadata .metadata_author {
  font-size: 12px;
  font-family: Roboto;
  font-weight: 700;
  line-height: 1.7;
  color: #ccc;
}

.card-content__info_metadata .metadata_date::before {
  content: "-";
  margin-right: 3px;
  font-size: 12px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 1.7;
  color: #ccc;
}

.card-content__info_metadata .metadata_date {
  font-size: 12px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 1.7;
  color: #ccc;
}
